@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$mainfont:'Ubuntu','Helvetica','Tahoma','Arial',sans-serif;

//border
$outer:2px solid firebrick;
$inner:1px solid gray;

//buttons
$inactive:dimgray;

//content
$libox:darkslategray;

//size
$third: 33%;
$twothirds:66.61%;
