/* Coolors Exported Palette - coolors.co/274690-576ca8-2f4f4f-f5f3f5-ea9010 */

/* HSL */
$color1: hsla(222%, 57%, 36%, 1);
$color2: hsla(224%, 32%, 50%, 1);
$color3: hsla(180%, 25%, 25%, 1);
$color4: hsla(300%, 9%, 96%, 1);
$color5: hsla(35%, 87%, 49%, 1);

/* RGB */
$darkblu: rgba(39, 70, 144, 1);
$paleblu: rgba(87, 108, 168, 1);
$slate: rgba(47, 79, 79, 1);
$white: rgba(245, 243, 245, 1);
$orange: rgba(234, 144, 16, 1);
