
html,body {

  font-family: georgia,serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #222;
  background-color: #fff;
  height: 100%;

}

h1{

  font-family:'Helvetica','Impact',sans-serif;
  font-size:6em;
  font-weight: 900;
  line-height: 40px;
  display: block;
  position: relative;
  text-align:center;
  width:960px;
  padding-left: 200px;

}

h2{
  font-family:'Helvetica', sans-serif;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  display: block;

}

h3{
  font-family:'Hevletica',sans-serif;
  font-size:1em;
  text-align:center;
  padding-left:200px;
  text-transform:uppercase;
  font-weight:bold;
  width:960px;
}

img{
  display:block;
  height:50%
  width:50%;
  margin:auto;

}

a{
  text-decoration: none;
  font-weight: 800;
}

p{
  text-align:center;
  font-size: 1.25em;
}

.new{
  border-radius:5px;
  padding:3px;
  background-color:#bb3825;
  color:white;
}

.author{
  font-family: 'Helvetica',sans-serif;
  font-weight:lighter;;
  display:block;
  font-size:18px;
  line-height: 12px;

}

.article{
  margin:auto;
  padding: 20px 200px 20px 200px;
}
