/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
<!-- ***************************************************************** -->
<!-- *************** End Reset *********************** -->
<!-- ***************************************************************** -->*/

body{

	font-family: 'Helvetica','Tahoma','Arial',sans-serif;

}

h1{
	font-size: 1.66em;
	padding:0.25em;
	color:orange;
}
h2{
	font-size:1.3em;
}

button{
	background-color: orange;
	color:white;
	border:none;
	padding:1em;
	width:50%;
	opacity: .8;
}
button:hover{
	opacity: 1;
}

#main{
	max-width: 1920px;
	margin: 0 auto;
	overflow: auto;
}

.left-box{
	float:left;
	background:#fafafa;
	width:14%;
	margin:1%;
	border-radius: 2%;
	position: absolute;
	top:20%;
	text-align: left;
	overflow: auto;
}

.button-holder{
	text-align: center;
	margin-top:1em;

}

.mailbox{
	background: #ffffff;
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	padding:1em;
	color:red;
	width:100%;
}

.categories{
	padding:1em;
	margin:0 auto;
	width:80%;
}

.categories li{
	line-height: 1.5;
	font-size: .9em;
}

.categories li:hover{
	background-color:#bbb;
}

.selected{
	font-weight: bolder;
}
