/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
<!-- ***************************************************************** -->
<!-- *************** END OF RESET ********************** -->
<!-- ***************************************************************** -->*/
body{

  background-color: dimgray;
}

li{
  float:left;
}

button{
  font-size: 2em;
  padding:1em;
}

h1{
  font-size: 2em;
  color:dodgerblue;
  font-weight: bolder;
}

#main{
  text-align:center;
  font-family:monospace;
  margin:0 auto;
  max-width:1200px;

}

.title{
  padding: 2em;
  letter-spacing: 4px;
}
.outputbox{
  transition: all .2s ease;
}
.buttonbar-1{
  background-color: goldenrod;
  margin: 2em auto;
  padding:1em;
  max-width: 720px;
  min-height: 120px;
  border:3px solid black;
  border-top-right-radius: 55px;
  border-bottom-left-radius:55px;
}
.buttonbar-2{
  background-color: gainsboro;
  margin: 2em auto;
  padding:1em;
  max-width: 720px;
  min-height: 120px;
  border:3px solid black;
  border-top-right-radius: 55px;
  border-bottom-left-radius:55px;
}
.buttonbar-3{
  background-color: firebrick;
  margin: 2em auto;
  padding:1em;
  max-width: 720px;
  min-height: 120px;
  border:3px solid black;
  border-top-right-radius: 55px;
  border-bottom-left-radius:55px;
}

.buttonrow-1{
  overflow: auto;
  min-height: 32px;
  width:50%;
  margin:32px auto;
}

.button{
  background-image: url(svg-sprite-social.svg);
  background-repeat: no-repeat;
  background-size: 600%;
  height: 64px;
  width: 64px;
  margin:2px;
  transition: all 0.1s ease;
}
#reel-one{
  background-image: url(svg-sprite-social.svg);
  background-repeat: no-repeat;
  background-size: 600%;
  height: 64px;
  width: 64px;
  margin:1em;
  transition: all 0.2s ease;
}
#reel-two{
  background-image: url(svg-sprite-social.svg);
  background-repeat: no-repeat;
  background-size: 600%;
  height: 64px;
  width: 64px;
  margin:1em;
  transition: all 0.2s ease;
}
#reel-three{
  background-image: url(svg-sprite-social.svg);
  background-repeat: no-repeat;
  background-size: 600%;
  height: 64px;
  width: 64px;
  margin:1em;
  transition: all 0.2s ease;
}
#reel-four{
  background-image: url(svg-sprite-social.svg);
  background-repeat: no-repeat;
  background-size: 600%;
  height: 64px;
  width: 64px;
  margin:1em;
  transition: all 0.2s ease;
}

.button:hover{
  background-color: rgba(250,100,5,0.5);
}
.button:active{
  background-color: red;
}
.buttonbar-2 .button:hover{
  background-color: white;
}
.buttonbar-3 .button:hover{
  background-color: white;
}

/*reminder: 1.hor -right 2.ver -down*/


.blanktwin{
	background-position: 0px 0px;
}
.cake{
	background-position: -64px 0px;
}
.skyline{
	background-position: -128px 0px;
}
.bell{
	background-position: -192px 0px;
}
.person{
	background-position: -256px 0px;
}
.smile{
  background-position: -320px 0;
}
.twoperson{
	background-position: 0 -64px;
}
.addpeople{
	background-position: -64px -64px;
}
.happy{
  background-position: -128px -64px;
}
.nobell{
	background-position: -192px -64px;
}
.addperson{
	background-position: -256px -64px;
}
.dead{
  background-position: -320px -64px;
}
.sad{
  background-position: 0 -128px;
}
.darkbell{
	background-position: -64px -128px;
}
.ringbell{
	background-position: -128px -128px;
}
.sleepbell{
	background-position: -192px -128px;
}
.emptyperson{
	background-position: -256px -128px;
}
.laugh{
	background-position: -320px -128px;
}
.selection-box{
	background-position: 0 -192px;
}
.camera{
	background-position: -64px -192px;
}
.doubleperson{
	background-position: -128px -192px;
}
.buildings{
	background-position: -192px -192px;
}
.plusone{
  background-position: -256px -192px;
}
.crank{
	background-position: -320px -192px;
}
.bars{
	background-position: 0 -256px;
}
.earth{
	background-position: -64px -256px;
}
.mortarboard{
	background-position: -128px -256px;
}
.frown{
  background-position: -192px -256px;
}
.neutral{
	background-position: -256px -256px;
}
.fire{
	background-position: -320px -256px;
}
.hidden{
  display: none;
}
