@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$mainfont:'Ubuntu','Helvetica','Tahoma','Arial',sans-serif;

//border
$outer:2px solid black;
$inner:1px solid gray;

//size
$third: 33%;
$twothirds:66.61%;
