@import "reset";
@import "variables";

#main{
  font-family:$mainfont;
  max-width: 1200px;
  min-height:960px;
  background: lightsteelblue;
  margin: 0 auto;
}

ol{
  margin: 0 auto;
  padding:0.255em;
  border: $outer;
}

li{
  margin: 1em auto;
  padding: 0.25em;
  border:$inner;
  background: darkslategray;
}

h1{
  font-size: 2.5em;
}

.title{
  text-align: center;
  margin: 0 auto;
  padding:1.2em;
  display: inline-block;

}

.search-box{
  margin: 0 auto;
  width: $twothirds;
  text-align: center;
}

.results{
  max-width:$twothirds;
  margin: 0 auto;
}

.repos-list{
  transition: all .5s ease;
}

.repo-listing{
  font-size: 1.225em;
  color:salmon;
}

.repo-owner{
  font-style: italic;
  color:gainsboro;

  font-size: 0.8em;
}
//page selector shrinks when results load?
.pages{
  text-align: center;
  margin:.5em auto;
  max-width: 640px;
  background-color: dimgray;

  *{
    margin: 10px 0;
    padding: 4px 0;
    border: none;
    display: inline-block;
    width:30%;
  }
  span{
    background-color: salmon;
    font-weight: bold;
  }
}

.hidden{
  display: none;
}
.inactive{
  color:dimgray;
  background-color:dimgray;
}
