@import 'reset';

body{
  font-family: 'andale mono','monaco','courier',monospace;
}
#react-root{
  position: relative;
}
.container{
  max-width: 960px;
  margin: 1em auto;
  padding:20px;
  position: relative;
}
.react-content{
  text-align: center;
  border: 1px solid red;
  padding:15px;
  div{
    transition: all 0.25s ease;
    display: inline-block;
    width:15%;
    color:white;
    background: #222;
    padding:10px 5%;
    margin:1em auto;
    outline:1px solid red;
  }
  .on{
    background-color:#FFD447;
    color:#222;
    outline: none;
  }
}

p {
  color: red;
}
